 html {
    font-family: "Roboto", sans-serif;
}
 
body{
	background-color: #fafafa;
}
::-webkit-input-placeholder{color:#000}
:-moz-placeholder{color:#000}
::-moz-placeholder{color:#000}
:-ms-input-placeholder{color:#000}

input:focus:not([type]):not([readonly]), input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid #0288d1;
	box-shadow: 0 1px 0 0 #0288d1;
}
.botoes-dash{
        margin: 10px 0;
        cursor: pointer;
        border-radius: 6px;
        border:1px solid #2196F3 ;
        padding: 8px;
        transition: 0.3s linear;
        font-weight: bold;
        color: #1E88E5;
    }
    .botoes-dash:hover{
        background: #f4f4f4;
        border:1px solid #0288d1;
        transition: 0.3s linear;
        color: #0288d1;
    }
    span.dash-name{
        margin: 5px 0;
        position: relative;
        display: block;
        clear: both;
    }
.modal{
	width: 30%;
}
.container-fluid{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.title-cadastro{
    font-size: 22px;
    margin: 0;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
}
.atencao-cadastro{
	color: #A54F4F;
	line-height: 1.8;
	padding: 0 20px;
}

.logomarca{
	width: 280px;
    position: relative;
}
.clear{
	    clear: both;
    padding-bottom: 15px;
}